.featured {
	margin:15px 0;
}

.nav-bar{
	margin-top:-15px;
	background: none !important;
	li {
		background: none !important;
		border:none;
		&:last-child {
			border: none !important;
		}
		a{
			color: $black;
			text-transform: uppercase;
			padding:0 15px !important;
		}
	}
}

#main {
	padding-top:50px;
	position:relative;
	z-index: 10;

	&:before {
		content:'';
		background: url('../images/shadow_left.png') top no-repeat;
		position:absolute;
		width: 100px;
		height: 800px;
		left:-73px;
		top:0;
		z-index: -1;
	}

	&:after {
		content:'';
		background: url('../images/shadow_right.png') top no-repeat;
		position:absolute;
		width: 100px;
		height: 800px;
		right:-73px;
		top:0;
		z-index: -1;
	}
}

.mod-box { 
	@include standardTransition (150ms);
	-webkit-border-radius: 500px; 
	border-radius: 500px;
	background: darken($white, 2%);
	height: 300px;
	text-align: center; 
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
	display:table-cell;
	vertical-align: middle;
	padding: 15px; 
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
	h3 {
		font-size:18px;
	}

	div {
		vertical-align: middle;
	}

	p{
		padding: 0 20px;
	}
	&:hover{
		box-shadow: 0 0 0 8px lighten($mainColor, 30%);
		border: 1px solid rgba(0,0,0,.5);
			@include standardTransition (350ms);
	}
 }


.separator {
	background: url('../images/separator.png') top center no-repeat;
	height: 10px;
	width: 100%;
	margin-top:30px;
	margin-bottom:30px;
}